:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}

/* ====== HEADER ====== */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: var(--white_color);
  width: 100%;
}

/* ==== TOP HEADER ==== */
.top_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  flex-wrap: wrap;
}

.top_header .logo {
  width: 160px;
  max-width: 100%;
}

.top_header .search_box {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  background: var(--bg_color);
  border-radius: 30px;
  border: 1px solid var(--main_color);
}

.top_header .search_box input {
  height: 45px;
  width: 100%;
  padding: 5px 15px 5px 20px;
  background: var(--bg_color);
  border-radius: 30px 0 0 30px;
  border: none;
  outline: none;
}

.top_header .search_box button {
  height: 45px;
  width: 60px;
  background: var(--main_color);
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  border: none;
}

.top_header .search_box button svg {
  fill: var(--white_color);
}

.top_header .header_icons {
  display: flex;
  gap: 30px;
}

.top_header .header_icons .icon {
  position: relative;
  cursor: pointer;
}

.top_header .header_icons .icon svg {
  font-size: 30px;
}

.top_header .header_icons .icon .count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: var(--main_color);
  color: var(--white_color);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  border-radius: 100%;
}

/* ==== BOTTOM HEADER ==== */
.btm_header {
  background: var(--main_color);
    
}

.btm_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btm_header .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
  transition: clip-path 0.4s ease, opacity 0.3s ease;
  opacity: 1;
}

.btm_header .category_nav {
  width: 220px;
  height: 100%;
  position: relative;
}

.btm_header .category_nav .category_nav_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--white_color);
  border: 1px solid #999;
  border-top: 0;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.3s ease-in-out;
  z-index: 1000;
}
.btm_header .category_nav .category_nav_list.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btm_header .category_nav .category_nav_list a {
  padding: 14px 10px;
  border-bottom: 1px solid var(--border_color);
  font-size: 14px;
}
.btm_header .category_nav .category_nav_list a:last-child {
  border-bottom: 0;
}

.btm_header .category_nav .category_btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main_color);
  padding: 0 15px;
  cursor: pointer;
  border: none;
}

.btm_header .category_nav .category_btn svg {
  fill: var(--white_color);
}
.btm_header .category_nav .category_btn p {
  color: var(--white_color);
  font-size: 15px;
  font-weight: 600;
}

.btm_header .nav_links {
  display: flex;
  height: 100%;
}
.btm_header .nav_links li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.btm_header .nav_links li.active {
  background: #0079ca;
}
.btm_header .nav_links li a {
  color: var(--white_color);
}

.btm_header .sign_regs_icon {
  display: flex;
  gap: 20px;
}
.btm_header .sign_regs_icon svg {
  font-size: 22px;
  fill: var(--white_color);
}

/* ==== SEARCH DROPDOWN ==== */
.serachBox_Contaienr {
  position: relative;
}

.suggestions {
  position: absolute;
  background: #fff;
  width: 100%;
  list-style: none;
  border: 1px solid var(--border_color);
  z-index: 2000;
}
.suggestions li {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid var(--border_color);
  cursor: pointer;
}
.suggestions li:hover {
  background: var(--bg_color);
}
.suggestions li span {
  font-size: 14px;
}
.suggestions li img {
  width: 30px;
}

.mobile_menu_icon {
  display: none; 
}

/* ==== RESPONSIVE SECTIONS ==== */
/* ==== MOBILE FIX FOR HEADER ==== */
@media (max-width: 768px) {

  .top_header .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top_header .logo {
    height: 80px;
    margin-bottom: 10px;
  }

  .top_header .search_box {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .btm_header .container {
    display: flex;
    flex-direction:row ;
    align-items: stretch;
    gap: 0;
    background: var(--main_color);
  }

  .mobile_menu_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }

  .btm_header .nav {
    width: 100%;
    background: var(--main_color);
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease;
    overflow: hidden;
    max-height: 0;
  }

  .btm_header .nav.active {
    max-height: none; /* enough to show menu */
    z-index: 1000 ;
    
  }
   .btm_header .category_nav {
    position: relative;
  }

  .btm_header .category_nav_list {
    position: relative;
    width: 100%;
    background: #fff;
    display: none;
    flex-direction: column;
    max-height: none;
    overflow-y: auto;
    border: 1px solid var(--border_color);
    z-index: 9999;
  }

  .btm_header .category_nav_list.active {
    display: flex;
  }

  .btm_header .category_nav .category_nav_list a {
    padding: 14px 15px;
    border-bottom: 1px solid var(--border_color);
    color: var(--color_heading);
    background: var(--white_color);
  }


  
  .btm_header .category_btn {
    background: #007edc;
    color: #fff;
    width: 100%;
    justify-content: space-between;
  }

  .btm_header .sign_regs_icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    background: var(--main_color);
  }

}
